fastapi
uvicorn[standard]
pydantic
pillow
numpy
transformers==4.45.0
opencv-python
scipy
trimesh
pygltflib
git+https://github.com/autonomousvision/mip-splatting.git#subdirectory=submodules/diff-gaussian-rasterization